---
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "Vision Online";
const state = true;
---

<BaseLayout pageTitle={pageTitle} state={state}>
    <h1
        class="text-center pt-12 mb-4 text-4xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-6xl dark:text-white"
    >
        Vision Online
    </h1>
</BaseLayout>/>
