---
import BaseLayout from "../layouts/BaseLayout.astro";
import InputForm from "../components/InputForm.astro";
import ButtonForm from "../components/ButtonForm.astro";

const pageTitle = "Iniciar sesión";
const state = true;
---

<BaseLayout pageTitle={pageTitle} state={state}>
    <h1
        class="text-center pt-16 pb-8 mb-4 text-4xl text-gray-900 dark:text-white"
    >
        {pageTitle}
    </h1>

    <form class="max-w-sm mx-auto" id="form-login">
        <InputForm
            nameLabel="Your User"
            inputType="text"
            inputId="user"
            inputPlaceholder="User"
        />
        <br />
        <InputForm
            nameLabel="Your Password"
            inputType="password"
            inputId="password"
            inputPlaceholder="********"
        />
        <br />
        <br />
        <div class="flex justify-center">
            <ButtonForm textButton={pageTitle} />
        </div>
        <script>
            const submitForm = async (event) => {
                event.preventDefault();

                const form = event.target;
                const user = form.elements.user.value;
                const password = form.elements.password.value;

                const formData = new URLSearchParams();
                formData.append("grant_type", "password");
                formData.append("username", user);
                formData.append("password", password);
                formData.append("scope", "");
                formData.append("client_id", "");
                formData.append("client_secret", "");

                try {
                    const response = await fetch(
                        "http://localhost:8000/login/",
                        {
                            method: "POST",
                            headers: {
                                "Content-Type":
                                    "application/x-www-form-urlencoded",
                            },
                            body: formData,
                        },
                    );

                    if (response.ok) {
                        console.log("Login successful");
                        form.reset();
                    } else {
                        const errorData = await response.json();
                        console.error("Login failed:", errorData);
                    }
                } catch (error) {
                    console.error("An error occurred:", error);
                }
            };

            document.addEventListener("DOMContentLoaded", () => {
                const form = document.getElementById("form-login");
                form.addEventListener("submit", submitForm);
            });
        </script>
    </form>/>
</BaseLayout>
