---
import BaseLayout from "../layouts/BaseLayout.astro";
import InputForm from "../components/InputForm.astro";
import ButtonForm from "../components/ButtonForm.astro";
const pageTitle = "Iniciar sesión";
const state = true;
---

<BaseLayout pageTitle={pageTitle} state={state}>
  <h1
    class="text-center pt-16 pb-8 mb-4 text-4xl text-gray-900 dark:text-white"
  >
    {pageTitle}
  </h1>

  <form class="max-w-sm mx-auto" id="form-login">
    <InputForm
      nameLabel="Your User"
      inputType="text"
      inputId="user"
      inputPlaceholder="User"
    />
    <br />
    <InputForm
      nameLabel="Your Password"
      inputType="password"
      inputId="password"
      inputPlaceholder="********"
    />
    <br />
    <br />
    <div class="flex justify-center">
      <ButtonForm textButton={pageTitle} />
    </div>
    <script src="../scripts/login.js"></script>
  </form>
</BaseLayout>
